LOAD_ENVS_FROM_FILE=True
ENVIRONMENT=development
SECRET_KEY='#*=JungleDjango=*#'
DEFAULT_FROM_EMAIL='JungleDevs <noreply@jungledevs.com>'
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
AWS_STORAGE_BUCKET_NAME=boilerplate-be
AWS_S3_REGION_NAME=us-west-2
SENTRY_DSN=