LOAD_ENVS_FROM_FILE=True
ENVIRONMENT=development
SECRET_KEY='#*=Boilerplate Django=*#'
DEFAULT_FROM_EMAIL='Boilerplate <noreply@boilerplate.com>'
DATABASE_URL=postgres://postgres:postgres@localhost:5432/boilerplate
AWS_STORAGE_BUCKET_NAME=boilerplate-backend
AWS_S3_REGION_NAME=us-west-2
SENTRY_DSN=